body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  background: #333;
  color: white;
  padding: 20px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
}
